.detail {
  @extend %page;

  .footer__button{
    opacity: 1;
    visibility: visible;
  }
}
.detail__wrapper {
  padding-top: 38rem;

  @include media('<phone') {
    padding-top: 0;
  }
}
.detail__content__wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;

  @include media('<phone') {
    flex-direction: column;
    gap: 5rem;

    &:first-of-type{
      gap: 0;
    }
  }
}

.detail__title{
  @extend %description-30-5;
  min-width: 48rem;

  @include media('<phone') {
    padding: 20rem 0 15rem;
    margin: 0;
  }
}

.detail__description{
  @extend %description-30-5;
  max-width: 92.5rem;
}

.detail__info{
  min-width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include media('<phone') {
    gap: 5rem;
  }
}

.detail__info__project{

}

.detail__info__project__label{
  color: $color-argent;
}

.detail__info__project__item{

}

.detail__info__role{

}

.detail__info__role__label{
  color: $color-argent;
}

.detail__info__role__item{

}

.detail__gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 14rem;

  @include media('<phone') {
    gap: 2.6rem;
  }
}

.detail__gallery__media{
  display: inline-block;
}

.detail__gallery__media--2{
  display: inline-block;
  width: calc(50% - 1.5rem);

  @include media('<phone') {
    width: calc(50% - 1.3rem);
  }
}

.detail__gallery__media__image{
  width: 100%;
}
