.about {
  @extend %page;
}
.about__wrapper {
  padding-top: 40.4rem;
}

.about__divider{
  width: 100%;
  height: 0.03rem;
  background: $color-old-silver;

  @include media('<phone') {
    height: 0.1rem;
  }
}

.about__content__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 12.8rem;

  &:first-of-type{
    margin-top: 0;
    margin-bottom: 5rem;
    .about__content__title{
      @extend %description-30-5;

      @include media('<phone') {
        position:absolute;
        top: 21.6rem;
        margin: 0;
      }
    }
  }

  @include media('<phone') {
    margin-top: 5rem;
  }
}

.about__content__title{
  width: 48rem;

  @include media('<phone') {
    width: 100%;
    margin-bottom: 5rem;
  }
}

.about__content__description{
  @extend %description-30-5;
  max-width: 92.4rem;

  br{
    content: "";
    display: block;
    height: 2.5rem;
  }
}

.about__content__left{
  width: calc(50vw - 49.3rem);
  display: flex;
  flex-direction: column;

  span[data-animation="title"]{
    &:first-of-type{
      color: $color-old-silver;
    }
  }

  @include media('<phone') {
    width: 50%;
  }
}

.about__content__right{
  width: calc(50vw - 49.3rem);
  display: flex;
  flex-direction: column;

  span[data-animation="title"]{
    &:first-of-type{
      color: $color-old-silver;
    }
  }

  @include media('<phone') {
    width: 50%;
  }
}

.about .footer__divider{
  background: $color-old-silver;
}

.about .footer__content{
  span[data-animation="title"]{
    &:nth-child(2){
      color: $color-old-silver;
    }
  }
}

.about .footer__info__wrapper{
  color: $color-old-silver;
}



