.projects {
  @extend %page;
}
.projects__wrapper {
  padding-top:40.4rem
}

.projects__content__wrapper{
  display: flex;
  flex-direction: row;
  gap: 2.6rem;
  flex-wrap: wrap;
  margin-bottom: 12.8rem;
}

.projects__content__list{
  width: calc(50vw - 3.9rem);
  margin-bottom: 5.66rem;

  @include media('<phone') {
    width: 100%;
  }
}

.projects__content__link{
  .projects__content__title{
    &:hover {
      color: $color-old-silver;
    }
  }
}


.projects__content__media{
  margin-bottom: 2rem,
}

.projects__content__media__image{
  width: 100%;
}

.projects__content__link{

}

.projects__content__title{

}

.projects__content__category__list{

}

.projects__content__category__item{
  display: inline;
  color: $color-argent;
}

