$color-white: #ffffff;

$color-chinese-black: #141414;
$color-black-olive: #3C3B32;
$color-anti-flash-white: #f2f2f2;
$color-onyx: #32333C;
$color-neon-green : #23FF38;

$font-roboto: "Neue Montreal";
$font-tomato-grotesk: "Kudryashev Display ExContr Sans";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader", "navigation", "footer", "content", "canvas");

