footer.footer
  .footer__contact
    a.footer__contact__link(href='mailto:mail.optimax.@gmail.com' rel='noopener' target='_blank') Mail
    |  &bull;
    a.footer__contact__link(href='tel:62811311680' rel='noopener' target='_blank') Phone
  .footer__copyright &copy; 2023 OPTIMAX
