@font-face {
  font-family: $suisse-intl;
  src: url('../fonts/suisse-intl-regular.woff2') format('woff2'),
      url('../fonts/suisse-intl-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

