.home {
	@extend %page;
	@extend %center;
	text-align: center;

	background: $color-white;
	color: $color-chinese-black;
	overflow: hidden;
	text-align: center;

  @include media("<phone") {
    &::before,
	  &::after {
		height: 30%;
	}
	}
}

.home__wrapper {
  @extend %cover;
  @extend %center;
}

.home__titles {
	@extend %title-h1;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  -webkit-text-stroke: 1px $color-white;

	@include media("<phone") {
    font-size: calc(34px + 250 * (100vw - 320px) / 1600);
    font-weight: 500;
    line-height: inherit;
    mix-blend-mode: difference;
		max-width: 100%;
	}
}

.home__link {
	@extend %description-16;

	letter-spacing: 0.05em;
	width: 28.84em;
	height: 6rem;
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	text-transform: uppercase;
	bottom: 5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

	@include media("<phone") {
		width: 55rem;
		height: 13.7rem;
    bottom: 12rem;
	}
}

.home__link span {
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}

.home__link__icon {
	@extend %cover;
}
