.home__result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #000;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0 5rem;
  overflow: hidden;
}
.home__result__box{
  padding: 3rem 5rem 5rem;
  text-align: end;
}
.home__result__title{
  font-size: 15rem;
}
.home__result__label{
  padding-right: 2rem;
}
