.footer{
  position: relative;
}

.footer__wrapper{

}

.footer__divider{
  border-top: 0.5px solid $color-gray-x-eleven;
}

.footer__content__wrapper{

}

.footer__content{
  @extend %description-34;

  padding: 2.6rem 0 40rem;

  span[data-animation="title"]{
    display: block;

    &:nth-child(2){
      color: $color-argent;
    }
  }
}

.footer__button {
  @extend %description-34;

  position: absolute;
  top: 2.6rem;
  right: 2.6rem;
}

.scrolltop__button{
  @extend %link--hidden;
}

.footer__button__top {

}

.footer__info__wrapper{
  position: absolute;
  bottom: 3.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-argent;
}

.footer__info__box{
  display: flex;
  justify-content: flex-end;
  width: calc(50vw - 3.9rem);
}

.footer__copyright{
  width: 48rem;
}

.footer__mail{
  width: calc(50vw - 50rem);
  span{
    @extend %link--hidden;
  }
}

.footer__social{
  width: 20rem;
  text-align: end;

  span{
    @extend %link--hidden;
  }
}

