.navigation {
  @extend %cover;

  z-index: z('navigation');
  position: fixed;
  pointer-events: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  background: #fff;

  &.open {
    .navigation__link{
      @include media('<phone') {
        color: $color-white!important;
      }
    }
  }
}

.navigation__link{
  width: 48rem;
  z-index: 1;
}

.navigation__link {
  // font-size: 0;
  position: absolute;
  left: 2.6rem;
  top: 2rem;
  width: 48rem;
  pointer-events: auto;
  transition: opacity 0.4s ease;
  z-index: 1;

  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    width: 22rem;
    font-size: 3.6rem;
  }
}

.navigation__timestamp{
  position: absolute;
  left: 50rem;
  top: 2rem;
  width: calc(50vw - 50rem);
}

.navigation__list {
  position: absolute;
  right: 2.6rem;
  top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(50vw - 3.9rem);
}
.navigation__list__item {
  pointer-events: auto;

  &:nth-child(2){
    display: none;
  }

  @include media('<phone'){
    visibility: hidden!important;
  }
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}


.navigation__mobile__button,
.navigation__mobile {
  display: none;
}
